body{
background-color: powderblue;
}


#outfit {
  z-index: 3;

    position: relative;
 
}
#base {
  z-index: 1;
  position: absolute;

}

#shoes {
  z-index: 2;
    position: relative;
  left: 200px;
}
