body{
background-color: powderblue;
}


#outfit {
  z-index: 2;

    position: relative;
  left: 200px;
}
#base {
  z-index: 1;
  position: absolute;
  left: 50px;
}

#shoes {
  z-index: 2;
    position: relative;
  left: 200px;
}
